extends layout

block content
  div.container(style="background-image:url(/images/background.png);width:1360px;height:729px;position:relative;")
    include include/menu
    include include/msg
    include include/reg
    include include/throw
    include include/pick
    include include/mybottle