#msgModal.modal.fade(role='dialog',tabindex=-1,aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
         .modal-body
            #msg
         .modal-footer
            button.btn.btn-default(type='button',data-dismiss='modal') 确定