#pickModal.modal.fade(role='dialog',tabindex=-1,aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
            h4.modal-title 你捞到了一个漂流瓶
         .modal-body
           .container
              .row
                 .form-group
                    label.col-sm-2.control-labe 来自于
                    .col-sm-2
                       input#owner.form-control(type='text',name='owner',value='')
                    .col-sm-2
                       input#time.form-control(type='text',name='time',value='')
              .row
                 .form-group
                    label.col-sm-2.control-label(for='bottle_content') 内容
                    .col-sm-4
                       input#bottle_content.form-control(type='text',name='bottle_content',value='')
              .row
                 .form-group
                    label.col-sm-2.control-label(for='response') 回应
                    .col-sm-4
                       input#response.form-control(type='text',name='response',value='')
         .modal-footer
            button.btn.btn-default(type='button',onclick='throwback()') 扔回去
            button.btn.btn-default(type='button',onclick='response()') 回应