#regModal.modal.fade(role='dialog',tabindex=-1,aria-labelledby='regModalLabel',aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') 关闭
         .modal-body
            .row
               form#regForm.form-horizontal(method='post',action='users/add')
                  .form-group
                     label.col-sm-2.control-label(for='username') 呢称
                     .col-sm-8
                        input#username.form-control(type='text',name='username',value='')
                  .form-group
                     label.col-sm-2.control-label(for='username') 头像
                     .col-sm-8
                        input#avatar.form-control(type='file',name='avatar',value='')
         .modal-footer
            button.btn.btn-default(type='button',data-dismiss='modal') 注册
