#throwModal.modal.fade(role='dialog',tabindex=-1,aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
         .modal-body
            textarea#content(cols=73,rows=5)
         .modal-footer
            button.btn.btn-default(type='button',data-dismiss='modal') 扔出去
            button.btn.btn-default(type='button',data-dismiss='modal') 取消