#viewBottleModal.modal.fade(role='dialog',tabindex=-1,aria-hidden='true')
   .modal-dialog
      .modal-content
         .modal-header
            button.close(type='button',data-dismiss='modal',aria-hidden='true') 关闭
         .modal-body
            #viewBottleRows.row
         .modal-footer
            button.btn.btn-default(type='button',data-dismiss='modal') 确定